\.DS_Store

*.xcworkspacedata
*.xcuserstate
Pods/
Podfile\.lock


LeqiSDK_iOS.xcworkspace/xcshareddata/
LeqiSDK_iOS.xcworkspace/xcuserdata/

LeqiSDK_iOS.xcodeproj/xcshareddata/
LeqiSDK_iOS.xcodeproj/xcuserdata/
LeqiSDK_iOS.xcodeproj/project\.xcworkspace/xcshareddata/
LeqiSDK_iOS.xcodeproj/project\.xcworkspace/xcuserdata/


*.log
